.container{
    text-align: center;
    margin: 50px 50px;
    background-color:rgb(192, 209, 237) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    box-shadow: 0 4px 8px rgba(192, 12, 12, 0.2);
  }
  
    
    

.container input{
    border-radius: 3px;
   
    width: 380px;
    height: 30px;
    margin: 3px;
}
.container button{
    background-color: rgb(128, 128, 199);
    margin: 0px 70px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px;
  
}
#first{
    margin-top: 10px;
}